*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerWater .card h1 {
    background-color:#0d0975;
    color: #ffc488;
    padding: 5px;
    width: 200px;
    border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
    -ms-border-radius:9px;
    -o-border-radius:9px;
}

.containerWater .card img{
    width: 150px;
    height: auto;
}
.containerWater .card{
    width: 30vw;
    height: 90%;
    padding:5vw;
    margin:1%;
    background-color: #0658d1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-radius:10%;
    align-items: center;
}

.containerWater{
    background-color: #35c9ff;
    display: flex;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    gap: 10px 30px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
}


