*{
    box-sizing: border-box;
}
.containerWater .card h1 {
    background-color:#0d0975;
    color: #ffc488;
    padding: 5px;
    width: 200px;
    border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
    -ms-border-radius:9px;
    -o-border-radius:9px;
}

.containerWater .card img{
    width: 150px;
    height: auto;
}
.containerWater .card{
    width: 50vw;
    height: 30vw;
    padding:5vw;
    margin:50px;
    background-color: #0658d1;

    display: flex;
    flex-direction: column;
    justify-content:center;
    border-radius:10%;
    align-items: center;
}

.containerWater{
    background-color: #35c9ff;
    display: flex;
    width: 100vw;
    height: 50vw;
    /* flex-wrap: wrap; */
    flex-direction: row;
    gap: 10px 30px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
}



.color1 {color: #ffc488;}
.color2 {color: #ffe278;}
.color3 {color: #0d0975;}
.color4 {color: #0658d1;}
.color5 {color: #35c9ff;}

.color1 {color: #140f07;}
.color2 {color: #172a4e;}
.color3 {color: #475dac;}
.color4 {color: #8b99fb;}
.color5 {color: #e8e1f6;}