*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerRock .card h1 {
    background-color:#c69c72 ;
    color:black ;
    padding: 5px;
    width: 200px;
    border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
    -ms-border-radius:9px;
    -o-border-radius:9px;
}

.containerRock .card img{
    width: 150px;
    height: auto;
}
.containerRock .card{
    width: 30vw;
    height: 90%;
    padding:5vw;
    margin:1%;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-radius:10%;
    align-items: center;
}

.containerRock{
    background-color:#495057 ;
    display: flex;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    gap: 10px 30px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
}


